extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  p.desc 
    | 画面のどこかを押してください。押した場所にボタンが出現します。
    br
    | 5秒以上押すと、ボタンは黄色になります。
    br
    | 絶対に5秒以上押し続けてください。。。
  .button.js-button
